{% extends "base.html.twig" %}

{% block body %}
    {% if app.user %}
        <h1>Ajout un certiticats</h1>

        {{ form_start(form) }}

            {{ form_row(form.certificats) }}
            <button class="btn btn-primary">Envoie</button>

        {{ form_end(form) }}
    {% else %}
        <h1 class="text-center">Vous devez vous connecter pour pouvoir ajouter un certificats</h1>
    {% endif %}
{% endblock %}
